<h1>Listing microsites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @microsites.each do |microsite| %>
      <tr>
        <td><%= microsite.name %></td>
        <td><%= link_to 'Show', microsite %></td>
        <td><%= link_to 'Edit', edit_microsite_path(microsite) %></td>
        <td><%= link_to 'Destroy', microsite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microsite', new_microsite_path %>
