<%= simple_form_for @participant do |f| %>
    <%= f.input :first_name, placeholder: 'First Name', label: false %>
    <%= f.input :email, :wrapper => :append do %>
        <%= f.input_field :email %>
        <span class="glyphicon glyphicon-expand"></span>
    <% end %>
    <%= f.input :last_name, placeholder: 'Last Name', label: false %>
    <%= f.button :submit %>
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
        SIGN THE DECLARATION <span class="glyphicon glyphicon-expand"></span>
    <% end %>
<% end %>